*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
    padding: 10px;
}
.box1{background-color: #c5a880;}
.box2{background-color: #532e1c;}
.box3{background-color: #ff9b93;}
.box4{background-color: #999b84;}
.box5{background-color: #4e8d7c;}
.box6{background-color: #583d72;}
.box7{background-color: #c24914;}
.box8{background-color: #d1c145;}
.box9{background-color: #0a043c;}
.box10{background-color: #61b15a;}

.container{
    display: flex; /* flex-inline */ 
    height: 100vh;
    border: 10px solid goldenrod;
    /* flex-direction: row; row, row-reverce, column, column-reverse */
    flex-wrap: wrap;  /*nowrap */
}

.box{
    width: 300px;
}