/* Error: Undefined mixin.
 *    ,
 * 8  | /         @include respond(tab-port) {
 * 9  | |             margin-bottom: $gutter-vertical-small;
 * 10 | \         }
 *    '
 *   sass\layout\_grid.scss 8:9  @import
 *   sass\main.scss 13:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 8  \2502  \250c          @include respond(tab-port) {\a 9  \2502  \2502              margin-bottom: $gutter-vertical-small;\a 10 \2502  \2514          }\a    \2575 \a   sass\\layout\\_grid.scss 8:9  @import\a   sass\\main.scss 13:9         root stylesheet";
}
