@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
p{
    margin: 0.75rem 0;
}

/* Utility Classes */
.text-primary{
    color: #93cb52;
}

/* Navbar */
#navbar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: #333;
    color: #ffffff;
    z-index: 1;
    padding: 1rem;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #ffffff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
}