*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("images/bg-pattern-bottom.svg");
    background-color: hsl(185, 75%, 39%);
    
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.card{
    margin-top: 100px;
    
}
.card__top{
    height: 150px;
    width: 300px;
    background-image: url("images/bg-pattern-card.svg");
    margin: 0 auto;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
.card__bottom{
    background-color: white;
    height: 250px;
    width: 300px;
    margin: 0 auto;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.card__bottom p {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    letter-spacing: 1.2px;
}
.card__bottom img{
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    top: -55px;
    left: 95px;
    
}
.card__bottom hr{
    margin-top: 25px;
    height: 2px;
    background-color:lightgray;
    border: none;
}
.card__bottom span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.2px;
}
h3{
    text-align: center;
    margin-top: -35px;
}
h3 span {
    margin-left: 8px;
}
p{
    text-align: center;
    margin-top: 15px;
}
.footer{
    display: flex;
    margin-top: 25px;
    justify-content: space-around;
}
.container__box p{
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-top: 8px;
}
.container__box span{
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.attribution{
    margin-top: 25px;
    font-size:13px;
}